[submodule "extern/SYCL-Small-Linear-Algebra"]
	path = extern/SYCL-Small-Linear-Algebra
	url = https://github.com/denommenator/SYCL-Small-Linear-Algebra.git
[submodule "extern/oneDPL"]
	path = extern/oneDPL
	url = https://github.com/oneapi-src/oneDPL.git
